<div id="controls">
<div id="expander" style="display: none"><%= link_to_function image_tag('expand.png'), 'expand()' %></div>
<div id="collapser" style="display: none"><%= link_to_function image_tag('collapse.png'), 'collapse()' %></div>
</div>