
<div id="slideshow" class="block">
  <div id="slide0" class="slide first"></div>
  <div id="slide1" class="slide"></div>
  <div id="slide2" class="slide"></div>
  <div id="slide3" class="slide"></div>
  <div id="slide4" class="slide"></div>
</div>


<% columns = @images.map{|item| "{src: '#{h item[:filename]}', href: '#{url_for(project_path(item[:project]))}'}"}.chunk(5) %>
<% sleepy = [4, 5, 6, 8, 12] %>
<% fady = [2, 3, 4]  %>
<script type="text/javascript">

  $(function() {

<% columns.each_with_index do |data, index| -%>
      $("#slide<%= index %>").crossSlide({sleep: <%= sleepy[rand(sleepy.size)] + rand(3) %>, fade: <%= fady[rand(fady.size)] %>}, [<%= data.join(',') -%>]);
<% end -%>


  });
</script>



