
<h1>Login erforderlich</h1>

<div id="loginPanel">
<p>Bitte identifizier dich um in den admin bereich zu gelangen</p>
<% form_tag do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Passwort</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Passwort erinnern:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
<div class="spacer" />
</div>

